/* ME */
@media (max-width: 768px) {
  .me, .me-content {
    float: none;
    width: 100%;
    margin: 20px 0;
  }
  .link {
    padding: 0px !important;
  }
  .menu {
    width: 100%;
  }
  .me-content {
    text-align: center;
  }
/* DONE */

/* RESUME */
@media (max-width: 768px){
  .container-left, .container-right{
    float: none;
    width: 90%;
    margin: 20px 0;
    text-align: center;
    clear: both;
  }

  .imgHeader{
    float: none;
    width: 20%;
    height: 20%;
    text-align: center;
  }
  .font-weight{
    text-align: left;
  }
/* DONE */

/* PORTFOLIO */
@media (max-width: 768px) {
  .summaryGW, .summaryFF, .imgGW, .imgFF, .title, .titleImg, #macImg {
    float: none;
    width: 100%;
    margin: 20px 0;
    text-align: center;
  }
  .imgHeader{
    float: none;
    width: 20%;
    height: 20%;
    text-align: center;
  }
/* DONE */

/* CONTACT */
@media (max-width: 768px){
  .block, .form, #googleMap{
    float:none  !important;
    width: 80% !important;
    margin: 10px auto !important;
    display: block;
    clear: both;
  }

  .x{
    width: 100%;
    text-align: right;
  }

  #googleMap {
  display: none;
  }

  #titleP{
    padding-top: 6px;
    padding-bottom: 0px;
  }

  #titleH1{
  padding-top:0px;
  }

.imgHeader{
  float: none;
  width: 20%;
  height: 20%;
  text-align: center;
}

@media (max-width: 414px){

  .text-right, .font-weight {
    font-size: 13px !important;
  }
}
/* DONE */
